##############################################################################
#Configuration file to get the validation properties from user
#Currently validates countername to its value and not null counters
#Property definitions:-
#counterName:- name of the countername from model-T thats matchs the file
#value:- value of the related counter, if the value is empty counterName will not be honored
#nonnull:-This an independent property and not related to properties like counterName,value
#Refer the Example below:-
#
#counterName,value,nonnull
#testcounter,1234,columnnotbenull1,
#testcounter,213234,columnnotbenull2,
#################################################################################


counterName,value,nonnull
OSS_ID,eniq_oss_1,OSS_ID
