##############################################################################
#Configuration file to get the validation properties from user
#Currently validates countername to its value and not null counters
#Property definitions:-
#counterName:- name of the countername from model thats matchs the file
#value:- value of the related counter, if the value is empty counterName will not be honored
#nonnull:-is this an independent property and related to property like counterName,value
#Refer the Example below:-
#
#counterName,value,nonnull
#testcounter,1234,
#testcounter,213234,abc,
#################################################################################


counterName,value,nonnull
testcounter,1234,
testcounter1,213234,abc,